$yellow-light: #f9f59e;
$yellow-dark: #f7d75c;
$orange: #fdb90b;
$orange-dark: #f2ae00;

.bingo-card {
  background: $yellow-dark;
  padding: 10px;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  box-shadow: var(--mat-sys-level1);

  &__item {
    background: $yellow-light;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 2rem;

    &.active {
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 80%;
        background-color: $orange;
        mask-image: url("/check-mark.svg");
        -webkit-mask-image: url("/checkmark.svg");
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        transform: translate(-50%, -50%);
        opacity: 0.6;
        pointer-events: none;
      }
    }
  }
}
