
.git
.gitignore
.github/
CITATION.cff
LICENSE.md
README.md
assets/
node_modules/
npm-debug.log
yarn-error.log
dist/
.angular/
.sass-cache/
*.so
.env
Dockerfile*
.dockerignore
.vscode/
.idea/
docker-compose*
