@use "@angular/material" as mat;
@use "../../scss/responsive.scss" as res;

footer {
  margin-top: 1rem;
  @include mat.button-overrides(
    (
      text-label-text-color: var(--mat-sys-surface),
      text-state-layer-color: var(--mat-sys-surface),
    )
  );
}

@media (max-width: res.$w-mobile) {
  footer {
    display: none;
  }
}
