<div appTemplate>
  <app-header [showSlogan]="false" [showUserInfo]="true"> </app-header>
  <app-main [hasTwoContents]="true">
    <ng-container left-content>
      <app-page-title
        title="Seu Perfil"
        [hasBackButton]="true"
      ></app-page-title>
      <form>
        <!-- APELIDO -->
        <mat-form-field>
          <mat-icon matPrefix>face</mat-icon>
          <mat-label>Apelido</mat-label>
          <input matInput value="Fulano da Silva" />
        </mat-form-field>
        <!-- EMAIL -->
        <mat-form-field>
          <mat-icon matPrefix>alternate_email</mat-icon>
          <mat-label>Email</mat-label>
          <input matInput value="fulano@gmail.com" disabled />
        </mat-form-field>
      </form>
      <!-- Ações -->
      <app-action-buttons [showSeparator]="false">
        <!-- Primeiro botão -->
        <button mat-flat-button button1>Salvar</button>
        <button mat-flat-button button2 routerLink="/">
          <mat-icon>person_off</mat-icon>Deletar Conta
        </button>
      </app-action-buttons>
    </ng-container>
    <!-- Ilustração -->
    <ng-container right-content>
      <app-page-title
        pb="0"
        title="Seus Prêmios"
        [hasBackButton]="false"
      ></app-page-title>
      <mat-card class="!bg-gray-300 h-1/2">
        <mat-card-content></mat-card-content>
      </mat-card>
      <button mat-stroked-button button1 routerLink="/jogos">
        <mat-icon>list</mat-icon>Jogos Participados
      </button>
    </ng-container>
  </app-main>
  <app-footer> </app-footer>
</div>
