<div appTemplate>
  <app-header [showSlogan]="false" [showUserInfo]="false"> </app-header>
  <app-main [hasTwoContents]="true">
    <ng-container left-content>
      <app-page-title
        title="Seu Perfil"
        [hasBackButton]="true"
      ></app-page-title>
      <form [formGroup]="perfilForm" id="perfilForm">
        <!-- APELIDO -->
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>face</mat-icon>
          <mat-label>Apelido</mat-label>
          <input matInput formControlName="nickname" maxlength="12" />
        </mat-form-field>
        <!-- EMAIL -->
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>alternate_email</mat-icon>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </form>
      <!-- Ações -->
      <app-action-buttons [showSeparator]="false">
        <!-- Primeiro botão -->
        <button
          type="submit"
          form="perfilForm"
          mat-flat-button
          button1
          (click)="updateNickname()"
        >
          Salvar
        </button>
        <button
          class="btn-danger"
          mat-flat-button
          button2
          (click)="deleteUser()"
        >
          <mat-icon>person_off</mat-icon>Deletar Conta
        </button>
      </app-action-buttons>
    </ng-container>
    <!-- Premios -->
    <ng-container right-content>
      <app-page-title
        pb="0"
        title="Seus Prêmios"
        [hasBackButton]="false"
      ></app-page-title>
      <div
        class="bg-[rgb(159,189,201)] premios-container overflow-auto !p-4 rounded-xl w-80 h-60 mx-auto"
      ></div>
      <button mat-stroked-button class="w-fit mx-auto" routerLink="/jogos">
        <mat-icon>menu</mat-icon>Jogos Participados
      </button>
    </ng-container>
  </app-main>
  <app-footer> </app-footer>
</div>
