<header class="relative flex justify-between items-center px-4 mb-4 text-white">
  <div class="flex items-center space-x-4">
    <ng-content select="[left-content]"></ng-content>
  </div>

  <div class="text-center">
    @if (showSlogan()) {
    <h1 class="text-7xl mb-1.5">eBingo</h1>
    <span>Jogos de bingo online</span>
    } @else {
    <h1 class="text-6xl">eBingo</h1>
    }
  </div>

  <div class="flex items-center space-x-4">
    <ng-content select="[right-content]"></ng-content>
  </div>
</header>
