@use "@angular/material" as mat;
@use "../../scss/responsive.scss" as res;

header {
  margin-bottom: 1rem;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#mobile-menu {
  display: none;
}

@media (max-width: res.$w-mobile) {
  #slogan,
  .menu-actions {
    display: none;
  }

  #mobile-menu {
    display: flex;
  }

  header {
    margin-left: 0;
    margin-right: 0;
  }
}
