@use "../../scss/responsive.scss" as res;
@use "@angular/material" as mat;

.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.35fr 2fr;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "ranking numbers numbers"
    "ranking card gameinfo";
  width: 100%;
  height: 100%;
  @include mat.button-toggle-overrides(
    (
      legacy-focus-state-layer-opacity: orange,
      legacy-text-color: red,
    )
  );
}

.card {
  grid-area: card;
}

.gameinfo {
  grid-area: gameinfo;
}

.numbers {
  grid-area: numbers;
}

.ranking {
  grid-area: ranking;
}

.mobile-menu {
  display: none;
}

@media (max-width: res.$w-mobile) {
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .card {
    flex: 1;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    gap: 4;
    align-items: center;
  }
}

@media (min-width: res.$w-mobile) {
  .card,
  .ranking,
  .gameinfo {
    display: unset;
  }
}
