<div appTemplate>
  <app-header [showSlogan]="false" [showUserInfo]="false">
    <a routerLink="/jogos" class="relative text-lg ml-8" left-content>
      <mat-icon class="absolute -left-8 top-1/2 -translate-y-1/2"
        >arrow_back</mat-icon
      >Sair da sala
    </a>
    <a class="relative text-lg" right-content (click)="openAudit()">
      <mat-icon class="absolute -left-8 top-1/2 -translate-y-1/2"
        >assignment</mat-icon
      >Histórico
    </a>
  </app-header>
  <main class="dashboard">
    <div class="mobile-menu relative">
      <button mat-mini-fab routerLink="/jogos">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <mat-button-toggle-group (change)="setSelectedTab($event.value)">
        <mat-button-toggle value="card" [checked]="true"
          ><mat-icon>grid_3x3</mat-icon></mat-button-toggle
        >
        <mat-button-toggle value="ranking"
          ><mat-icon>people_alt</mat-icon></mat-button-toggle
        >
        <mat-button-toggle value="gameinfo"
          ><mat-icon>info_outline</mat-icon></mat-button-toggle
        >
      </mat-button-toggle-group>

      <button mat-mini-fab (click)="openAudit()">
        <mat-icon>assignment</mat-icon>
      </button>
    </div>

    <app-custom-container
      _title="NÚMEROS SORTEADOS"
      titleAlign="start"
      class="numbers"
    >
      <div class="numbers-container">
        @if(isAdm){
        <div
          class="draw-button"
          (click)="drawNewNumber()"
          (keyup)="drawNewNumber()"
        >
          <span>+</span>
        </div>
        }

        <div class="numbers-list">
          @for (number of drawnNumbers; track $index) {
          <div
            class="number-circle"
            [ngClass]="{ recent: $index === drawnNumbers.length - 1 }"
          >
            {{ number }}
          </div>
          }
        </div>
      </div>
    </app-custom-container>

    <app-bingo-card
      class="card"
      [ngClass]="{
        hidden: this.selectedTab() != 'card'
      }"
      [bingoItems]="card?.numbers ?? []"
      [markedNumbers]="card?.markedNumbers ?? []"
      (markNumber)="markNumber($event)"
      (join)="joinGame()"
    ></app-bingo-card>

    <app-custom-container
      _title="PARTIDA"
      titleAlign="start"
      class="gameinfo"
      classes="h-full flex flex-col justify-between"
      [ngClass]="{ hidden: this.selectedTab() != 'gameinfo' }"
    >
      <div class="gamedetails">
        <!-- Container das informações do jogo -->
        <p>
          <span class="text-sm text-gray-500 block">Sala</span>
          <strong class="text-base font-semibold block">{{
            game?.roomName
          }}</strong>
        </p>
        <p>
          <span class="text-sm text-gray-500 block mt-2">Início</span>
          <strong class="text-base font-semibold block">{{
            formattedDate(game?.startTime)
          }}</strong>
        </p>
        @if (game?.endTime) {
        <p>
          <span class="text-sm text-gray-500 block mt-2">Fim</span>
          <strong class="text-base font-semibold block">{{
            formattedDate(game?.endTime)
          }}</strong>
        </p>
        }
      </div>
      <!-- Container dos botões de ação -->
      <div class="game-actions mt-6">
        <button
          mat-flat-button
          color="primary"
          class="action-button"
          (click)="showPremio()"
          [disabled]="userId !== game?.winner?.id"
        >
          Ver Prêmio
        </button>
        @if(isAdm){
        <button
          mat-fab
          color="accent"
          class="fab-button"
          [routerLink]="'/jogos/form/' + gameId"
        >
          <mat-icon>settings</mat-icon>
        </button>
        }
      </div>
    </app-custom-container>

    <app-custom-container
      _title="RANKING"
      titleAlign="center"
      class="ranking"
      [ngClass]="{ hidden: this.selectedTab() != 'ranking' }"
    >
      <div class="flex flex-col space-y-2">
        @for (rank of ranking ?? []; track $index) {
        <div class="flex items-center w-full justify-between">
          <span
            class="block truncate mr-2"
            [ngClass]="{
              'font-bold': $index === 0,
              'text-[var(--mat-sys-primary)]': rank.id === userId
            }"
            >{{ rank.nickname }}</span
          >
          <span
            [ngClass]="{
              'font-bold': $index === 0,
              'text-[var(--mat-sys-primary)]': rank.id === userId
            }"
            class="text-right"
            >{{ rank.marked
            }}<span class="text-xs text-gray-400">/{{ game?.cardSize }}</span>
          </span>
        </div>
        }
      </div>
    </app-custom-container>
  </main>
</div>
