@use "../../scss/responsive.scss" as res;
@use "@angular/material" as mat;

.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.35fr 2fr;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "ranking numbers numbers"
    "ranking card gameinfo";
  width: 100%;
  height: 100%;
  @include mat.button-toggle-overrides(
    (
      legacy-focus-state-layer-opacity: orange,
      legacy-text-color: red,
    )
  );
}

.card {
  grid-area: card;
}

.gameinfo {
  grid-area: gameinfo;
}

.game-actions {
  margin-top: 2rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.action-button {
  flex-grow: 1;
}

.fab-button {
  width: 40px;
  height: 40px;
  min-width: 40px;
}

/*DETALHES FIM*/

/*NUMEROS INICIO*/
.numbers {
  grid-area: numbers;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  white-space: nowrap;
}

.numbers-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.draw-button {
  width: 40px;
  height: 40px;
  background-color: var(--mat-sys-primary);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.draw-button,
.number-circle {
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  flex-shrink: 0;
}

.draw-button {
  background-color: var(--mat-sys-primary);
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: darkblue;
  }
}

.number-circle {
  background-color: blue;
}

.numbers-list {
  display: flex;
  flex-direction: row-reverse; /* Inverte a ordem dos números */
  gap: 10px;
  flex-wrap: nowrap;
}

.number-circle.recent {
  background-color: green;
}

/*NUMEROS FIM*/

.ranking {
  grid-area: ranking;
}

.mobile-menu {
  display: none;
}

@media (max-width: res.$w-mobile) {
  app-header {
    display: none;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .card {
    flex: 1;
    max-height: 450px;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    gap: 4;
    align-items: center;
  }
}

@media (min-width: res.$w-mobile) {
  .card,
  .ranking,
  .gameinfo {
    display: unset;
  }
}
