@use "@angular/material" as mat;
@use "../../scss/responsive.scss" as res;

mat-form-field {
  margin: 0;
  padding: 0;
  width: 11rem;
}

.map {
  @include mat.theme(
    (
      density: -4,
    )
  );
  @include mat.button-overrides(
    (
      filled-container-height: 30px,
    )
  );
}

@media (max-width: res.$w-mobile) {
  #filter {
    flex-direction: column;
    align-items: stretch;
  }
  #titulowrap {
    order: -1;
  }

  mat-form-field {
    width: unset;
  }
}
