<div appTemplate>
  <app-header [showSlogan]="false" [showUserInfo]="true">
    <a left-content (click)="openTutorial()" class="relative text-lg ml-8">
      <mat-icon class="absolute -left-8 top-1/2 -translate-y-1/2"
        >assignment</mat-icon
      >Como jogar?
    </a>
    <mat-icon (click)="openTutorial()" (keyup)="openTutorial()" mobile-buttons
      >assignment</mat-icon
    >
    <a class="text-sm" mobile-buttons>Como jogar?</a>
  </app-header>
  <app-main>
    <!-- PESQUISA -->
    <form
      [formGroup]="filterForm"
      class="flex flex-row justify-between items-center w-full gap-3"
      id="filter"
      title-content
    >
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Pesquisar</mat-label>
        <input matInput formControlName="roomName" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <!-- TITULO -->
      <div id="titulo-container">
        <app-page-title
          class="flex-1"
          id="pgtitulo"
          pb="0"
          [hasBackButton]="false"
          title="Listagem de jogos"
        ></app-page-title>
      </div>
      <!-- FILTRO -->
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Filtrar Jogos</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option value="INICIADO">Iniciados</mat-option>
          <mat-option value="NAO_INICIADO">Não Iniciados</mat-option>
          <mat-option value="ENCERRADO">Encerrados</mat-option>
          <mat-option value="CANCELADO">Cancelados</mat-option>
          <mat-option [value]="null">Participados</mat-option>
          <mat-option [value]="null">Autorais</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <!-- LISTAGEM -->
    @for (game of games; track $index) {
    <app-game-card [game]="game"></app-game-card>
    }
    <!-- Ações -->
    <app-action-buttons [showSeparator]="false" footer-content>
      <!-- Segundo botão -->
      <button mat-flat-button button2 routerLink="form">
        <mat-icon>add</mat-icon>
        Novo Jogo
      </button>
    </app-action-buttons>
  </app-main>
  <app-footer> </app-footer>
</div>
