<div class="relative flex flex-col h-full w-full">
  @if (_title()) {
  <div
    class="ttl self-{{
      titleAlign()
    }} text-center mx-8 px-4 py-1 rounded-lg w-fit -mb-5 bg-[var(--mat-sys-primary)] text-white uppercase font-bold z-10"
    style="box-shadow: var(--mat-sys-level1); z-index: 2"
  >
    {{ _title() }}
  </div>
  }

  <div
    class="{{
      _title() ? 'pt-7' : 'pt-4'
    }} pb-4 px-4 overflow-auto inset-0 h-full w-full bg-[var(--mat-sys-surface-container-low)] rounded-xl {{
      classes()
    }}"
    style="
      box-shadow: var(--mat-sys-level1);
      z-index: 0;
      scrollbar-gutter: stable;
    "
  >
    <ng-content />
  </div>
</div>
