<div appTemplate>
  <app-header [showSlogan]="true"> </app-header>
  <app-main [hasTwoContents]="true">
    <!-- Ilustração -->
    <ng-container left-content></ng-container>
    <!-- Formulário -->
    <ng-container right-content>
      <app-page-title
        title="Logue Aqui"
        [hasBackButton]="false"
      ></app-page-title>
      <!-- EMAIL -->
      <form
        class="pt-4"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        id="loginForm"
      >
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>face</mat-icon>
          <mat-label>Apelido</mat-label>
          <input matInput formControlName="nickname" />
        </mat-form-field>
        <!-- SENHA -->
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>key</mat-icon>
          <mat-label>Senha</mat-label>
          <input
            matInput
            [type]="hide() ? 'password' : 'text'"
            formControlName="password"
            autocomplete="on"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <!-- Ações -->
      <app-action-buttons [showSeparator]="true">
        <!-- Primeiro botão -->
        <button mat-flat-button button1 type="submit" form="loginForm">
          <mat-icon>play_arrow</mat-icon>
          Vamos Jogar!
        </button>

        <!-- Segundo botão -->
        <button mat-stroked-button button2 routerLink="/cadastro">
          Criar uma Conta
        </button>
      </app-action-buttons>
    </ng-container>
  </app-main>
  <app-footer> </app-footer>
</div>
