<div appTemplate>
  <app-header [showSlogan]="true"> </app-header>
  <app-main [hasTwoContents]="true">
    <!-- Ilustração -->
    <ng-container right-content></ng-container>
    <!-- Formulário -->
    <ng-container left-content>
      <app-page-title
        [hasBackButton]="true"
        title="Junte-se a nós!"
      ></app-page-title>
      <form
        class="pt-4"
        [formGroup]="cadastroForm"
        (ngSubmit)="onSubmit()"
        id="cadastroForm"
      >
        <!-- APELIDO -->
        <mat-form-field class="hint" appearance="outline">
          <mat-icon matPrefix>face</mat-icon>
          <mat-label>Apelido</mat-label>
          <input matInput formControlName="nickname" maxlength="12" />
          <mat-hint>Como você gostaria de ser chamado(a)?</mat-hint>
        </mat-form-field>
        <!-- EMAIL -->
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>alternate_email</mat-icon>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <!-- SENHA -->
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>key</mat-icon>
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            autocomplete="on"
          />
        </mat-form-field>
        <!-- SENHA -->
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>key</mat-icon>
          <mat-label>Confirmar Senha</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            autocomplete="on"
          />
        </mat-form-field>
      </form>
      <!-- Ações -->
      <app-action-buttons [showSeparator]="false">
        <!-- Primeiro botão -->
        <button form="cadastroForm" mat-stroked-button button1 type="submit">
          Finalizar Inscrição
        </button>
      </app-action-buttons>
    </ng-container>
  </app-main>
  <app-footer> </app-footer>
</div>
