mat-form-field {
  width: 100%;
}

.hint {
  margin-bottom: 0.5rem;
}

.benefits {
  background: #6190e8;
  background: -webkit-linear-gradient(bottom, #a7bfe8, #6190e8);
  background: linear-gradient(to bottom, #a7bfe8, #6190e8);
}
