.button-separator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--mat-sys-outline);
}

.or {
  color: var(--mat-sys-outline);
  padding: 0 8px;
}
