<span appTemplate>
  <app-header [showSlogan]="false" [showUserInfo]="true"> </app-header>
  <app-main [hasFooterContent]="true" [hasTitleContent]="true">
    <!-- TITULO -->
    <app-page-title
      [hasBackButton]="false"
      title="{{ isEditing ? 'Editar Jogo' : 'Configurar Novo Jogo' }}"
      title-content
      class="w-full"
    ></app-page-title>
    <!-- Dados -->
    <form [formGroup]="gameForm" (ngSubmit)="submitForm()" id="gameForm">
      <fieldset>
        <legend>1. Informações da Partida</legend>
        <p>
          <mat-form-field style="flex-grow: 3">
            <mat-label>Nome da Sala</mat-label>
            <input matInput formControlName="roomName" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data de Início</mat-label>
            <input
              matInput
              [matDatepicker]="datepicker"
              formControlName="startTime"
              required
            />
            <mat-datepicker #datepicker></mat-datepicker>
            <mat-datepicker-toggle
              [for]="datepicker"
              matSuffix
            ></mat-datepicker-toggle>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Horário de Início</mat-label>
            <input
              matInput
              [matTimepicker]="customPicker"
              formControlName="startTime"
              required
              [matTimepicker]="customPicker"
            />
            <mat-timepicker-toggle
              matIconSuffix
              [for]="customPicker"
            ></mat-timepicker-toggle>
            <mat-timepicker #customPicker></mat-timepicker>
          </mat-form-field>
        </p>
      </fieldset>
      <fieldset>
        <legend>2. Prêmio <mat-icon>emoji_events</mat-icon></legend>
        <p>
          <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="prize" />
            <mat-icon matSuffix>emoji_events</mat-icon>
          </mat-form-field>
        </p>
      </fieldset>
      <!-- Regras -->
      <fieldset>
        <legend>3. Regras <mat-icon>gavel</mat-icon></legend>
        <p>
          <mat-form-field>
            <mat-label>Tamanho da Cartela</mat-label>
            <mat-select formControlName="cardSize" required>
              <mat-option value="10">10 números</mat-option>
              <mat-option value="15">15 números</mat-option>
              <mat-option value="25">25 números</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-slide-toggle formControlName="manualFill">
            Preenchimento manual da cartela
          </mat-slide-toggle>
          <mat-icon
            id="hint"
            matTooltip="Ao escolher esta opção, os jogadores devem estar presentes na sala e marcarem manualmente suas cartelas"
            matTooltipPosition="below"
            >help</mat-icon
          >
          <span id="hint-mobile" class="text-sm"
            >Ao escolher esta opção, os jogadores devem estar presentes na sala
            e marcarem manualmente suas cartelas</span
          >
        </p>
      </fieldset>
    </form>
    <!-- Ações -->
    <app-action-buttons [showSeparator]="false" footer-content>
      <!-- Primeiro botão -->
      <button
        mat-flat-button
        button1
        type="submit"
        [disabled]="gameForm.invalid"
        form="gameForm"
      >
        <mat-icon>save</mat-icon>
        {{ isEditing ? "Salvar Alterações" : "Criar Jogo" }}
      </button>
      <!-- Segundo botão -->
      <button mat-flat-button button2 (click)="goBack()">
        <mat-icon>close</mat-icon>
        Descartar
      </button>
    </app-action-buttons>
  </app-main>
  <app-footer> </app-footer>
</span>
