<mat-card class="!overflow-hidden">
  @if(hasContentTitle()){
  <mat-card-title class="text-center pt-4 px-4">
    <ng-content select="[content-title]"></ng-content>
  </mat-card-title>
  }
  <mat-card-content class="!p-0">
    @if (hasTwoContents()) {
    <div class="grid grid-cols-2 {{ divide() }}">
      <div class="p-4">
        <ng-content select="[left-content]"></ng-content>
      </div>
      <div class="p-4">
        <ng-content select="[right-content]"></ng-content>
      </div>
    </div>
    } @else {
    <div class="p-4">
      <ng-content></ng-content>
    </div>
    }
  </mat-card-content>
  @if(hasContentFooter()){
  <mat-card-footer class="text-center pb-4 px-4">
    <ng-content select="[content-footer]"></ng-content>
  </mat-card-footer>
  }
</mat-card>
