<main class="h-full w-full">
  <mat-card
    appearance="outlined"
    class="overflow-hidden h-full"
    [ngClass]="{ 'px-4 py-8': !hasTwoContents() }"
  >
    @if (hasTwoContents() || hasTitleContent()) {
    <mat-card-header
      class="!p-0"
      [ngClass]="{ 'h-full overflow-auto': hasTwoContents() }"
    >
      <ng-content select="[title-content]"></ng-content>
      @if(hasTwoContents()){
      <div class="grid-container">
        <div class="grid-item px-16 py-8">
          <ng-content select="[left-content]"></ng-content>
        </div>
        <div class="grid-item px-16 py-8">
          <ng-content select="[right-content]"></ng-content>
        </div>
      </div>
      }
    </mat-card-header>
    } @if (!hasTwoContents()) {
    <mat-card-content
      class="overflow-auto !p-4 rounded-xl bg-gray-400 h-full !border-2 !border-[var(--mat-sys-outline)]"
    >
      <ng-content></ng-content>
    </mat-card-content>
    } @if(hasFooterContent()){
    <mat-card-footer class="text-center pt-4">
      <ng-content select="[footer-content]"></ng-content>
    </mat-card-footer>
    }
  </mat-card>
</main>
