@use "@angular/material" as mat;
@use "app/scss/responsive.scss" as res;

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --or: 239, 118, 39;
  --lt-or: 255, 154, 86;
  --dk-rose: 163, 2, 98;
  --content-font: Quicksand, sans-serif;
  --logo-font: Sour Gummy, sans-serif;
}

html,
body {
  height: 100%;
}

a:hover {
  text-decoration: underline;
  filter: brightness(0.85);
  cursor: pointer;
}
*,
*::after,
*::before {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

/* Estilo do scroll */

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--mat-sys-outline);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

html {
  background: linear-gradient(
    rgba(var(--dk-rose), 1) 0%,
    rgba(var(--lt-or), 1) 80%,
    rgba(var(--or), 1) 100%
  );
  overflow: hidden;
}

/* Corpo e estilos globais Material */

body {
  width: 70%;
  font-family: var(--content-font);

  margin: 0 auto;
  padding: 2rem 0;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: (
        var(--content-font),
      ),
    )
  );
  @include mat.card-overrides(
    (
      outlined-outline-width: "0px",
      outlined-container-elevation: "var(--mat-sys-level1)",
      outlined-outline-color: "var(--mat-sys-outline-variant)",
    )
  );

  @include mat.snack-bar-overrides(
    (
      container-color: var(--sbColor),
    )
  );

  @include mat.button-overrides(
    (
      outlined-outline-width: "1.5px",
    )
  );

  @include mat.form-field-overrides(
    (
      outlined-outline-width: "1.5px",
    )
  );
}

[appTemplate] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

[appTemplate] > :nth-child(2) {
  flex-grow: 1;
  min-height: 0;
}

/* BOTÕES E CAMPOS */

.btn-success {
  @include mat.button-overrides(
    (
      filled-container-color: #388e3c,
    )
  );
}

.btn-danger {
  @include mat.button-overrides(
    (
      filled-container-color: #d32f2f,
    )
  );
}

.mdc-notched-outline__notch {
  border-style: none;
}

.mat-mdc-icon-button {
  line-height: normal;
}

/*  RESPONSIVIDADE  */

@media (max-width: res.$w-laptop) {
  body {
    width: 90%;
  }
}

@media (max-width: res.$w-mobile) {
  body {
    padding: 1rem;
    width: 100%;
  }
}
