a:hover {
  text-decoration: underline;
}

/*
@use "@angular/material" as mat;
.user-info {
  @include mat.theme(
    (
      density: -4,
    )
  );
  @include mat.button-overrides(
    (
      text-label-text-color: var(--mat-sys-surface),
      text-state-layer-color: var(--mat-sys-surface),
    )
  );
}
*/
